<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博-随时随地的新鲜事</title>
    <link rel="stylesheet" type="text/css" href="../static/weibo.css">
</head>
<body class="bodyBack">
<div class="W_nologin W_nologin_cover3">
    <div class="W_reg_header_width_wrap">
        <div class="W_header">
            <div class="W_nologin_logo"></div>
        </div>
    </div>
    <div class="W_nologin_main">
        <!--left box-->
        <div class="W_left_box"></div>
        <!--right box-->
        <div class="W_right_box">
            <div class="info_header">
        </div>
    </div>
</div>

</body>
</html>